<?xml version="1.0"?>
<!--
/**
 * Copyright ePay | Payment Solutions, (c) 2010.
 *
 * This program is free software. You are allowed to use the software but NOT allowed to modify the software. 
 * It is also not legal to do any changes to the software and distribute it in your own name / brand. 
 */
-->
<config>
   <sections>
        <payment>
            <groups>
                <epay_standard translate="label" module="epay">
                    <label>ePay | Payment Solutions</label>
                    <comment><![CDATA[Detailed description of these settings are to be found on <a href="http://www.magentoguiden.dk" target="_blank">www.magentoguiden.dk</a>.<br><br>]]></comment>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label><![CDATA[<b>Enabled:</b>]]></label>
                            <comment><![CDATA[To enable and disable this payment method.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label><![CDATA[<b>Title:</b>]]></label>
                            <comment><![CDATA[The title of the payment method displayed to the customers.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <order_status translate="label">
                            <label><![CDATA[<b>Order status (Before the payment is made):</b>]]></label>
                            <comment><![CDATA[Set the status of the order <b>before</b> the payment is made. This is used to distinguish between paid and not paid orders!]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                        </order_status>
                        <order_status_after_payment translate="label">
                            <label><![CDATA[<b>New order status (When the payment is made):</b>]]></label>
                            <comment><![CDATA[Set the status of the order <b>after</b> the payment is made. This is used to distinguish between paid and not paid orders!]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                        </order_status_after_payment>
                        <use_auto_cancel translate="label">
                            <label><![CDATA[<b>Use Auto-Cancel:</b>]]></label>
                            <comment><![CDATA[If enabled this will auto-cancel orders where no payment has been made. <b>Notice!</b> For this to work you must setup cronjobs for your Magento installation. Contact your hosting provider for assistance on how to do so.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                        </use_auto_cancel>
                        <sort_order translate="label">
                            <label><![CDATA[<b>Sort order:</b>]]></label>
                            <comment><![CDATA[In which order this payment method is displayed to the customer.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sort_order>
                        <allowspecific translate="label">
                            <label><![CDATA[<b>Payment from applicable countries:</b>]]></label>
                            <comment><![CDATA[If you need to define from which countries this payment method is available.]]></comment>
                            <frontend_type>allowspecific</frontend_type>
                            <sort_order>7</sort_order>
                            <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allowspecific>
                        <specificcountry translate="label">
                            <label><![CDATA[<b>Payment from Specific countries:</b>]]></label>
                            <comment><![CDATA[Define from which countries this payment method is available if the setting above is set to "Specific Countries".]]></comment>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>8</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificcountry>
                        <merchantnumber translate="label">
                            <label><![CDATA[<b>Merchantnumber:</b>]]></label>
                            <comment><![CDATA[The unique merchantnumber received from the payment system. If you don't know your merchantnumber please log into your account <a href="https://ssl.ditonlinebetalingssystem.dk/admin/" target="_blank">here</a>. You can then find your merchantnumber from the menu <b>Settings</b> -> <b>Payment System</b>.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </merchantnumber>
                        <windowid translate="label">
                            <label><![CDATA[<b>Window ID:</b>]]></label>
                            <comment><![CDATA[Defines the window to use. You can find the available windows on your account <a href="https://ssl.ditonlinebetalingssystem.dk/admin/" target="_blank">here</a>. Go to the menu <b>Settings</b> -> <b>Payment window</b>.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </windowid>
                        <instantcapture translate="label">
                            <label><![CDATA[<b>Instant capture:</b>]]></label>
                            <comment><![CDATA[This is used if you wish to capture the payments at the same time as it is authorized. This option may only be used if the cardholder receives the goods at once.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instantcapture>
                        <instantinvoice translate="label">
                            <label><![CDATA[<b>Instant invoice:</b>]]></label>
                            <comment><![CDATA[This is used if you wish to create an invoice once the payment has been authorized.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instantinvoice>
                        <instantinvoicemail translate="label">
                            <label><![CDATA[<b>Instant invoice mail:</b>]]></label>
                            <comment><![CDATA[If instant invoice then send invoice to customer.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </instantinvoicemail>
                        <group translate="label">
                            <label><![CDATA[<b>Group:</b>]]></label>
                            <comment><![CDATA[This setting is used to assign the payment to a specific group within the payment system.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </group>
                        <md5key translate="label">
                            <label><![CDATA[<b>MD5 Key:</b>]]></label>
                            <comment><![CDATA[This is the secret password you must enter both here and within the payment system if you enable MD5 above. Notice that the secret password must be 100% the same. Otherwise the customer will be declined as payments are made. You can log into your account on the payment system <a href="https://ssl.ditonlinebetalingssystem.dk/admin/" target="_blank">here</a>. The MD5 settings are to be found from the menu <b>Settings</b> -> <b>Payment System</b>.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </md5key>
                        <authmail translate="label">
                            <label><![CDATA[<b>Auth Mail:</b>]]></label>
                            <comment><![CDATA[The auth mail setting is used if you need to receive an e-mail with payment information from the payment system as the payment is made. If you have multiple receivers you can separate the list by semicolon (;).]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>17</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </authmail>
                        <windowstate translate="label">
                            <label><![CDATA[<b>Windows state:</b>]]></label>
                            <comment><![CDATA[If the value is <b>Overlay</b> the Payment Window will open as a overlay window on top of the store. If the value is <b>Full Screen</b> the payment window will be displayed in the same window but in full-screen.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>epay/system_config_source_windowstate</source_model>
                            <sort_order>19</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </windowstate>
                        <ownreceipt translate="label">
                            <label><![CDATA[<b>Use own receipt:</b>]]></label>
                            <comment><![CDATA[If this option is enabled the customer will be redirected instantly to the Magento accept-page on approved authorization.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ownreceipt>
                        <addfeetoshipping translate="label">
                            <label><![CDATA[<b>Add payment fee to the "shipping and handling amount":</b>]]></label>
                            <comment><![CDATA[If the customer pays for the payment fee the amount will not be displayed on the order confirmation. However it is possible to add the amount to the shipping and handling amount displayed at the bottom of the order confirmation.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>22</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </addfeetoshipping>
                        <sendmailorderconfirmation translate="label">
                            <label><![CDATA[<b>Send Email Order Confirmation:</b>]]></label>
                            <comment><![CDATA[Enabling this setting will result in an order confirmation is e-mailed to the customer as the payment is made.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>23</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sendmailorderconfirmation>
                        <remoteinterface translate="label">
                            <label><![CDATA[<b>Process payments from within the order administration of Magento:</b>]]></label>
                            <comment><![CDATA[
                            	Enable this option in order to capture, credit and delete payments directly from the Magento administration on the order page. You then don't need to enter the administration area of the payment system in order to process payments. <b>Notice!</b> This feature require the BUSINESS subscription.
                            	<br><br>
                            	<b>Important information when processing the payments from Magento:</b>
                            	<br>
								- When an order is canceled the payment is deleted within the payment system.<br>
                            	- When an invoice is created the payment can be captured from the bottom of the invoice.<br>
                            	- When a credit memo is created the payment can be credited back to the customer from the bottom of the credit memo.<br>
                            	</ul>
                            ]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>26</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </remoteinterface>
                        <remoteinterfacepassword translate="label">
                            <label><![CDATA[<b>Remote password:</b>]]></label>
                            <comment><![CDATA[If payments is processed from within the order administration and a password is added in the ePay administration is should also be added here.]]></comment>
                            <frontend_type>text</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>27</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </remoteinterfacepassword>
                        <captureinvoicemail translate="label">
                            <label><![CDATA[<b>Capture invoice mail:</b>]]></label>
                            <comment><![CDATA[When bulk capture then send invoice mail to customer.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>28</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </captureinvoicemail>
                        <enableinvoicedata translate="label">
                            <label><![CDATA[<b>Enable invoice data:</b>]]></label>
                            <comment><![CDATA[]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>29</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enableinvoicedata>
                    </fields>
                </epay_standard>
            </groups>
        </payment>
    </sections>
</config>
